@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  font-family: 'Nunito', sans-serif;
  background-color: #e8ebee;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.left-panel {
  width: 8%;
  height: 100%;
  transition: width 0.5s;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f3f5f7;
  overflow-y: auto;
}

.left-panel.expand {
  width: 16%;
}

#map {
  width: 92%;
  height: 100%;
  transition: width 0.2s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#map.expand {
  width: 84%;
}

.element {
  text-align: center;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}

form {
  display: flex;
  width: auto;
  transition: 0.3s opacity ease-in-out;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
}

input {
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

button {
  width: 50px;
}

.selected {
  border: 2px dashed red;
  border-radius: 10px;
  z-index: 999999 !important ;
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px !important;
}
